body {

    min-height: 2000px;
  
    padding-top: 70px;
}


.dropdown-grids{
    float: right;
    margin: .4em 0em 0 0;
    padding:10px;
}

#loginContainer{
    position: relative;
    padding: 0.4em 0em;
    background: #3E9CCA;
}

#loginContainer a span{
    color: #FFF;
}

#loginContainer a:hover{
    text-decoration:none;
}

.close {
    color: #000 !important;
    text-shadow: 0 1px 0 #000 !important;
    opacity: 1 !important;
    font-size:30px !important;
}