<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
	<script type="text/javascript" src="1.js"></script>
</head>
	<div id="content">
		<p>
			
		</p>
		<video src="carib_070915-917.mp4" width="320" height="240" controls="controls">
			Your browser does not support the video tag.
		</video>
	</div>
<body>
<script type="text/javascript">	
   
var VideoInfoList=$Showhtml("xfplay:\/\/dna=DxffmZIdExH4DGD0AeH5mHm4EeeZmGp5DGMgm0L2m0EcmHDWEHjfmt|dx=107695899|mz=heyzo_1545.mp4|zx=nhE0pdOVlZiZlwiZAY40lwe1AdO5mdtWl3uzogyUnW")
$('#content p').text(VideoInfoList)
</script>
</body>
</html>


